<ul class="title-area">
  <li class="name">
    <h1><a href="#">{{t 'brand'}}</a></h1>
  </li>
  <li class="toggle-topbar menu-icon"><a href="#"><span>{{t 'menu'}}</span></a></li>
</ul>

<section class="top-bar-section">
  <ul class="right">
    <li class="divider"></li>
    <li><a href="#">{{t 'menu.welcome'}}</a></li>
    <li class="divider"></li>
    <li><a href="/#libraries">{{t 'menu.libraries'}}</a></li>
    <li class="divider"></li>
    <li><a href="/#hello">{{t 'menu.hello'}}</a></li>
  </ul>
</section>
